<% if @tags.any? %>
  <h1>Tags:</h1>
  <ul>
    <% @tags.each do |tag| %>
      <li><%= link_to tag.name, tag_path(tag) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no tags yet.</p>
<% end %>


<hr>
<%= link_to "Back to Homepage", root_path %>
