<h3>Tag name: <%= @tag.name %></h3>

<p><%= link_to "Edit Tag", edit_tag_path(@tag) %></p>

<p><%= link_to "Delete Tag", tag_path(@tag), :method => 'delete' %></p>

<hr>

<% if @tag.posts.any? %>
  <h5>Posts that include this tag:</h5>

  <ul>
    <% @tag.posts.each do |post| %>
      <li><%= link_to post.title, post_path(post) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no posts that include this tag!</p>
<% end %>
