@import "bootstrap-sprockets";
@import "bootstrap";

a {
  color: grey;
}

a:link {
    text-decoration: none;
    color: grey;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: grey;
}

a:active {
    text-decoration: underline;
}

p, li {
  list-style-type: none;
  font-size: 16px;
}

h1 {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 60px;
}

h2, h3 {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 30px;
}

img {
  max-width: 550px;
}

.homepage_title {
  text-align: center;
}

.homepage_image {
    margin-right: 40px;
    margin-top: auto;
}

.container_category {
  margin: 50px;
  margin-right: 40px;
  margin-left: 40px;
}

.container_post {
  margin-left: 40px;
}

.title_font {
  font-size: 30px;
  font-family: 'Bad Script', cursive;
}
