<div class='homepage_title'>
  <h1>Shelter Me</h1>
  <p class='title_font'>creative housing ideas</p>
</div>

<hr>

<div class='container_post'>
  <h3>Posts</h3>
    <% @post.each do |post| %>
    <li><%= post.title %> || posted on <%= post.created_at.strftime("%B %d, %Y") %></li>
    <% end %>
</div>

<hr>

<div class='container_category'>
  <div class='col-md-6'>
    <h3>Categories</h3>
    <ul>
      <% @categories.each do |category| %>
        <li><%= link_to category.name, category_path(category) %></li>
      <% end %>
    </ul>
  </div>

  <div class='col-md-6'>
    <div class='homepage_image'>
      <img src="https://www.glen-l.com/designs/house/house-images/dsn-hfc.jpg">
    </div>
  </div>
</div>
